[submodule "git-partial-clone"]
	path = git-partial-clone
	url = https://github.com/lu0/git-partial-clone.git
	branch = master

[submodule "git-worktree-airflow"]
	path = git-worktree-airflow
	url = https://github.com/lu0/git-worktree-airflow.git
	branch = master

[submodule "git-worktree-wrapper"]
	path = git-worktree-wrapper
	url = https://github.com/lu0/git-worktree-wrapper.git
 	branch = master

